*{
	padding: 0;
	margin: 0;
	font-family: arial ;
	scroll-behavior: smooth;
	/* color: #b3b3b3; */
	text-decoration: none;
	/* user-select: none; */
}
/* body{
	background-color: #1a1a1a;
} */
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#close,#igg{
	background-color: white;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background-size: cover;
	transition: all 400ms ease-in-out;
	
}
i img{
	border-radius: 50%;
}
#igg{
	/* display: none; */
	/* left: 30%; */
	z-index: -1;
}
:root{
	--text-clr: black;
}
.space{
	width: 100%;
	height: 3.5rem;
	/*background-color: green;*/
}
.container{
	width: 95%;
	margin: 0 auto;
}
.ui-container{
	width: 100%;
	height: 100vh;
	/* background:linear-gradient(to top, var(--text-clr),rgba(0, 0, 0, 0.3)), url(../img/beer4.jpg); */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation-name: sample;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	/* background-repeat: no-repeat; */
	background-size: cover;
	/*z-index: -1;*/
	/*top: 0;*/
	/*margin-top: -200px;*/
}
@keyframes sample{
	0%{background: linear-gradient(to top, var(--text-clr),rgba(0,0,0,0.3)), url(../img/one.jpg);}
	25%{background: linear-gradient(to top, var(--text-clr),rgba(0,0,0,0.3)), url(../img/two.jpg);}
	50%{background: linear-gradient(to top, var(--text-clr),rgba(0,0,0,0.3)), url(../img/three.jpg);}
	75%{background: linear-gradient(to top, var(--text-clr),rgba(0,0,0,0.3)), url(../img/four.jpg);}
	100%{background: linear-gradient(to top, var(--text-clr),rgba(0,0,0,0.3)), url(../img/one.jpg);}
}
.navBar{
    width: 100%;
    height: 50px;
    text-align: center;
    /*z-index: 2;
    position: fixed;*/
    /*top: 0;*/
	/*background: black;*/
	position: fixed;

}
.navBar ul{
	display: flex;
	width: 100%;
	margin: 0 auto;
	right: 0;
	left: 0;
	/*background-color: black;*/
	z-index: 1000;
	/*top: 0;*/
	/*position: fixed;*/
}
.navBar ul li{
	margin: 1rem auto;
	list-style: none;
}

.navBar ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.onmove{
	background-color: #000000;
	box-shadow: 0 0 0 1px white;
	height: 60px;
}
/* ==================== NavMenu ====================== */
.icon i{
	font-size: 2.5rem;
	cursor: pointer;
	display: none;
}
#last{
	display: none;
}
@media screen AND (max-width: 1024px){
	.container{
		width: 70%;
		margin: 0 auto;
	}
	.icon i{
	font-size: 2.5rem;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	/* background-color: gray; */
	padding: 0.5rem;
	border-radius: 0.5rem;
}
.icon i{
	display: block;
}
	#navBar{
		background-color: rgba(0,0,0,0.9);
		height: 50vh;
		width: 100%;
		/* right: 0; */
		/* right: -1000px; */
		display: none;
		/* position: relative; */
		transition: all 400ms ease-in-out;
	}
	#last{
		display: block;
	}
	#last ul li{
		padding: 20px;
		transition: all 200ms ease-in-out;
	}
	#last ul{
		display: flex;
		flex-direction: column;
		/* gap: 2rem; */
		text-align: center;
		/* margin-top: 20px; */
	}
	#last ul .nnv:hover{
		background-color: white;
		color: black;
	}
	#last{
		background-color: rgba(0,0,0,0.9);
		height: 250px;
		width: 30%;
		transition: all 600ms ease-in-out;
		position: fixed;
		/* display: none; */
		left: -500px;
	}
	.close{
		cursor: pointer;
	}
	.close:hover{
		background-color: rgb(100, 61, 61);
		color: white;
	}
    .menu a{
        color: white;
    }
	
}
/* ==================== imgs ===================== */
.imgCont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.imgCont .desc{
    text-align: center;
    font-weight: bolder;
}
/* ======== HEAD ========== */
.head{
    text-align: center;
    color: white;
    font-size: 35px;
	margin-left: -12rem;
	/* display: none; */
}
.head button{
	margin-left: -50rem;
	padding: .7rem;
	font-size: 1rem;
	border-radius: .5rem;
	background-color: blue;
	color: white;
	border: none;
	cursor: pointer;
}
/* ================ platform ============ */
.ooo{
	background-color: black;
	width: 200px;
	height: 640px;
	margin-top: -40rem;
	float: right;
	/* display: none; */
}
.ooo .la{
	margin-top: 3rem;
}
.ooo .la .headd{
	color: #7e7c7c;
	font-size: 1.4rem;
	margin-left: 1rem;
}
.ooo .la .details .a{
	color: rgb(3, 102, 173);
	font-size: .8rem;
	margin-top: 1rem;
	margin-left: 1rem;
	cursor: pointer;
}
.ooo .la .details .b{
	color: #7e7c7c;
	margin-top: .4rem;
	margin-left: 1rem;
}
/* ================ bottom ============== */
.btm{
    /* height: 50vh; */
    width: 100%;
    background-color: #646262;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 0rem;
}
.btm .btmCont .msg .desc{
    font-size: 20px;
}
.btm .btmCont .msg .desc span{
    font-weight: bold;
}
.btm .inputs input,textarea{
    margin-top: 1rem;
    width: 90%;
    height: 25px;
    outline: none;
    border: none;
    border-bottom: solid black;
    border-radius: 0.4rem;
    font-size: 14px;
    padding: 0.3rem;

}
.btm .inputs textarea{
    height: 150px;
}
.btm .inputs input[type=submit]{
    margin: 1rem auto;
    cursor: pointer;
    font-size: 20px;
    width: 200px;
    background-color: black;
    color: white;
    height: 35px;
}
.btm .btmCont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.btmCont .msgMap iframe{
    width: 100%;
    height: 90%;
    margin-top: 1rem;
}
/* ================ responsive ================ */
@media screen AND (max-width: 1024px){
	.imgCont{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.imgCont div img{
		height: 15rem;
	}
	.head{
		text-align: center;
		color: white;
		font-size: 22px;
	}
	.btm .btmCont{
		display: grid;background-color: #000000;
		grid-template-columns: repeat(1, 1fr);
	}
	.btmCont .msgMap iframe{
		width: 100%;
		height: 300px;
		margin-top: 1rem;
	}
	.ooo{
		display: none;
	}
	.head{
		margin-left: 2rem;
	}
	.head a{
		margin-left: 20rem;
	}
}
@media screen AND (max-width: 600px){
	.imgCont{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.head{
		text-align: center;
		color: white;
		font-size: 12px;
	}
	.btm .btmCont .msg .desc{
		font-size: 15px;
	}
	.head a{
		margin-left: 36rem;
		padding: .5rem;
	}
}